<% content_for :head do %>
	<%= stylesheet_link_tag    "tmp_my_courses", :media => "all" %>
<% end %>

<div id='main_page_wrapper'>
	<div class='page_title'>
		My Courses
	</div>

	<div id='my_lecture_wrap'>
		<div class='my_lecture_box' id='lecture1'>
			lecture1
		</div>
		<div class='my_lecture_box' id='lecture2'>
			lecture2
		</div>
		<div class='my_lecture_box' id='lecture2'>
			+
		</div>
	</div>
	
</div>

