<% content_for :head do %>
	<%= stylesheet_link_tag    "tmp_discover", :media => "all" %>
<% end %>

<div id='main_page_wrapper'>
	<div class='page_title'>
		Discover Courses
	</div>
	<div id='discover_search_form'>
		<div id='discover_tabs'>
			<div id='recommend_tab'>
				Recommend
			</div>
			<div id='popular_tab'>
				Popular
			</div>
			<div id='high_rating_tab'>
				High Rating
			</div>
		</div>
		<div id='discover_search_box'>
			<input type='text'/>
		</div>
		<button>
			Search
		</button>
	</div>
	<div id='discover_category_wrap'>
		<div class='category_entry' id='category1'>
			category1
		</div>
		<div class='category_entry' id='category2'>
			category2
		</div>
	</div>
	
	<div id='discover_lecture_wrap'>
	
		<div class='lecture_box' id='lecture1'>Lecture1</div>
	
	</div>
</div>

