<% content_for :head do %>
<%= stylesheet_link_tag    "tmp_play_lecture", :media => "all" %>
<% end %>
<div id='main_page_wrapper'>
	<div class='page_title'>
		<button id='prev_button'>
			Prev Lecture
		</button>
		"Lecture Title"
		<button id='next_button'>
			Next Lecture
		</button>
	</div>
	<div id='play_wrap'>
		<video id='play_video' controls="controls"></video>
		<div id='side_wrap'>
			<div id="question_tab">Question</div>
			<div id="material_tab">Material</div>
			<div id='side_box'></div>
		</div>
	</div>

</div>

