<div id="class_title">
 <%= @course.name %>
</div>

<div id="video_wrapper">

	<video width="640" height="480" controls="controls">
		<source src="http://shapeshed.com/examples/HTML5-video-element/video/320x240.ogg" controls="true" />
		Your browser does not support the video tag.
	</video>
	
	

</div>

<div id="divider"> 
	 </div>
<div>
	<p>
	  <b>Description:</b>
	  <%= @course.description %>
	</p>
	<%= link_to 'Edit', edit_course_path(@course) %> |
	<%= link_to 'Back', courses_path %> |
	
</div>


