<% content_for :head do %>
<%= stylesheet_link_tag    "tmp_course_intro", :media => "all" %>
<% end %>

<div id='main_page_wrapper'>
	<div class='page_title'>
		Course Introduction "<%= @course.name %>"
		<button id='take_course_button'>
			Take this Course
		</button>
	</div>
	<div id='upper_wrap'>
		<div class='intro_student_counter'>
			999 Student taken
		</div>
		<div class='avg_rating'>
			Rating : *****
		</div>
		<video id='intro_video' controls="controls"></video>
		<div id='lecturer_wrap'>
			<div id='lecturer_title'>
				<%= @course.user.fullname %>
			</div>
			<div id='lecturer_image'></div>
			<div id='lecturer_desc'>
				Lecturer Description
			</div>
		</div>
	</div>
	<div id='lower_wrap'>
		<div class='sub_title'>Course Information</div>
		<div class='course_info_tab' id='desc'>Description</div>
		<div class='course_info_tab' id='curr'>Curriculum</div>
		<div id='course_info_box'><%= @course.description %></div>
		<div id='bulletin_title'>Bulletin Board</div>
		<div id='course_bulletin'></div>
	</div>

</div>


