#login_form, #sign_up_form {
	float: right;
	margin-right: 10px;
}
#login_form {
	margin-top: 20px;
}

#facebook_button {
	background-color: blue;
	width: 220px;
	height: 20px;
}

#facebook_button:hover {
	cursor: pointer;
}

#sign_up_title {
	font-size: 3em;
	font-weight: bold;
	width: 400px;
	border-bottom: 2px #000000 solid;
}

#sign_up_entry tr td {
	font-size: 1.2em;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 40px;
}

#sign_up_entry tr td input {
	width: 200px;
}

#main_image_wrap {
	margin-top: 50px;
}

#main_image {
	width: 500px;
	height: 400px;
	border: 1px #333333 solid;
}
